/*
 * Globals
 */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');

:root {
  --main-color:  #fff;
  --primary-color: #120136;
  --highlight-color: #035aa6;
  --secondary-bg-color: #A8DADC;
  --secondary-color: #E63946;
}

/* Links */
a,
a:focus,
a:hover {
  color: var(--highlight-color);
}

h1 {
  font-size:4.2rem;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--highlight-color)
}

h2 {
  font-size:1.6rem;
  font-weight: 700;
  margin-top: 1rem;
}

p {
  font-size: 1rem;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: var(--main-color);
}

body {
  display: -ms-flexbox;
  display: flex;
  color: var(--primary-color);
  font-family: 'Montserrat', sans-serif;
}

.cover-container {
  max-width: 60em;
}
.row {
  margin-bottom: 1rem;
}
.col-lg-4 {
  margin-bottom: 1.4rem;
}
.masthead {
  margin-bottom: 3rem;
}

@media (max-width: 700px) {
  h1 {
    font-size:3rem;
}
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.inner {
  padding: 0 1.5rem;
}


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #ff715b;
  background-color: #fff;
  border: .05rem solid #4c5454;
}

/*
 * Header
 */


/*
 * Footer
 */
.mastfoot {}
