/*
 * Globals
 */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');

/* Links */
a,
a:focus,
a:hover {
  color: #E63946;
}

h1 {
  font-size:4.2rem;
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  font-size:1.6rem;
  font-weight: 700;
  margin-top: 1rem;
}

p {
  font-size: 1rem;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #ffffff;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #1D3557;
  font-family: 'Montserrat', sans-serif;
}

.cover-container {
  max-width: 60em;
}
.row {
  margin-bottom: 1rem;
}
.col-lg-4 {
  margin-bottom: 1.4rem;
}
.masthead {
  margin-bottom: 3rem;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.inner {
  padding: 0 1.5rem;
}


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #ff715b;
  background-color: #fff;
  border: .05rem solid #4c5454;
}

/*
 * Header
 */


/*
 * Footer
 */
.mastfoot {}
